/* HTML TAGS */
html {
    font-size: 100%;
}

html, body {
    height: 100%;
    /* margin: 0px; */
    /* padding: 0px; */
    font-family: sans-serif;
}


/* HTML TAGS ADJUSTMENTS */
html {
    padding: 1.2px, 1.2px, 1.2px, 1.2px;
	margin-top: -1px;
	margin-bottom: -1px;
}


/* BODY */
.mw-body {
    direction: ltr;
    color: #252525;
}

.mw-body-content {
    position: relative;
    z-index: 0;
    line-height: 1.6;
    font-size: 0.875em;
}


/* PARAGRAPH */
.mw-body p {
    margin: 0.5em 0px;
    line-height: inherit;
}


/* DIVS */
div.tleft, div.floatleft, table.floatleft {
    float: left;
    clear: left;
}

div.thumb {
    margin-bottom: 0.5em;
    width: auto;
    background-color: transparent;
}

div.tleft {
    margin: 0.5em 1.4em 1.3em 0px;
}

div.tright, div.floatright, table.floatright {
    clear: right;
    float: right;
}

div.thumb {
    margin-bottom: 0.5em;
    width: auto;
    background-color: transparent;
}

div.tright {
    margin: 0.5em 0px 1.3em 1.4em;
}

div.thumbinner {
    border: 1px solid #CCC;
    padding: 3px;
    background-color: #F9F9F9;
    font-size: 94%;
    text-align: center;
    overflow: hidden;
}

div.columns dl, div.columns ol, div.columns ul {
    margin-top: 0px;
}

div.reflist ol.references {
    font-size: 100%;
    list-style-type: inherit;
}


/* LINKS */
a {
    text-decoration: none;
    color: #0645AD;
    background: none repeat scroll 0% 0% transparent;
}

a.new, #p-personal a.new {
    color: #BA0000;
}

a.new {
    color: #BA0000;
}

a.external {
    color: #36B;
}


/* LISTS */
ul {
    list-style-type: disc;
}

li {
    margin-bottom: 0.1em;
}


/* HEADINGS */
h1, h2, h3, h4, h5, h6 {
    color: #000;
    background: none repeat scroll 0% 0% transparent;
    margin: 0px;
    overflow: hidden;
    padding-top: 0.5em;
    padding-bottom: 0.17em;
    border-bottom: 1px solid #AAA;
    font-weight: normal;
}

h1, h2 {
    margin-bottom: 0.25em;
    padding: 0px;
    font-family: serif;
    line-height: 1.3;
}

h3, h4, h5, h6 {
    border-bottom: medium none;
    font-weight: bold;
}

h3, h4, h5, h6 {
    line-height: 1.6;
    margin-top: 0.3em;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

h2 {
    margin-top: 1em;
    font-size: 1.5em;
}

h3 {
    font-size: 1.17em;
}


/* INFOBOX */
.infobox {
    border: 1px solid #AAA;
    border-spacing: 3px;
    background-color: #F9F9F9;
    color: #000;
    margin: 0.5em 0px 0.5em 1em;
    padding: 0.2em;
    float: right;
    clear: right;
    text-align: left;
    font-size: 88%;
    line-height: 1.5em;
}

.infobox td, .infobox th {
    vertical-align: top;
}


/* THUMBS */
.thumbcaption {
    border: medium none;
    line-height: 1.4em;
    padding: 3px;
    font-size: 94%;
    text-align: left;
}

.magnify {
    float: right;
    margin-left: 3px;
    margin-right: 0px;
}


/* GALLERY */
.mw-content-ltr ul, .mw-content-rtl .mw-content-ltr ul {
    margin: 0.3em 0px 0px 1.6em;
    padding: 0px;
}

ul.gallery, li.gallerybox {
	
}

ul.gallery {
    margin: 2px;
    padding: 2px;
    display: block;
}

li.gallerybox {
    vertical-align: top;
    display: inline-block;
}

li.gallerybox div.thumb {
    text-align: center;
    border: 1px solid #CCC;
    background-color: #F9F9F9;
    margin: 2px;
}


/* NAVBOX */
.navbox {
    border: 1px solid #AAA;
    width: 100%;
    margin: auto;
    clear: both;
    font-size: 88%;
    text-align: center;
    padding: 1px;
}

.navbox, .navbox-subgroup {
    background: none repeat scroll 0% 0% #FDFDFD;
}

table.navbox + table.navbox {
    margin-top: -1px;
}

.navbox-inner, .navbox-subgroup {
    width: 100%;
}

.navbox-group, .navbox-title, .navbox-abovebelow {
    padding: 0.25em 1em;
    line-height: 1.5em;
    text-align: center;
}

.navbox th, .navbox-title {
    background: none repeat scroll 0% 0% #CCF;
}

.collapseButton {
    float: right;
    font-weight: normal;
    margin-left: 0.5em;
    text-align: right;
    width: auto;
}

.navbox .collapseButton {
    width: 6em;
}

.navbar {
    display: inline;
    font-size: 88%;
    font-weight: normal;
}

.navbox .navbar {
    display: block;
    font-size: 100%;
}

.navbox-title .navbar {
    float: left;
    text-align: left;
    margin-right: 0.5em;
    width: 6em;
}

.hlist dd, .hlist dt, .hlist li {
    margin: 0px;
    display: inline;
}

.navbar li {
    word-spacing: -0.125em;
}

.plainlinks a.external {
    background: none repeat scroll 0% 0% transparent !important;
    padding: 0px !important;
}

.navbox-group, .navbox-title, .navbox-abovebelow {
    padding: 0.25em 1em;
    line-height: 1.5em;
    text-align: center;
}

.nowrap, .nowraplinks a, .nowraplinks .selflink, sup.reference a {
    white-space: nowrap;
}

ol.references, div.reflist, div.refbegin {
    font-size: 90%;
    margin-bottom: 0.5em;
}

.mw-body dd, .mw-body ol, .mw-body ul {
    line-height: 1.6;
}

.nocolbreak, div.columns li, div.columns dd dd {
    page-break-inside: avoid;
}

.mw-cite-backlink, .cite-accessibility-label {
    -moz-user-select: none;
}

